<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">CRUD Produtos</a>

    <div class="collapse navbar-collapse" id="navbarColor02">

      <form class="d-flex ms-auto">
        <input  class="btn btn-outline-secondary my-2 my-sm-0 rounded-start" type="search" placeholder="Buscar">
        <button class="btn btn-secondary my-2 my-sm-0 rounded-end" type="submit">Buscar</button>
      </form>
    </div>
  </div>
</nav>
