<div class="row mt-2">
    <div class="col-lg-4 offset-lg-4">

      <div class="card border-secondary mb-3" style="max-width: 25rem;">
       <div class="card-header text-center">Adicionar produto</div>
       <div class="card-body">
        <form>
          <input type="text" class="form-control" placeholder="Digite o nome">
          <input type="text" class="form-control mt-2" placeholder="Digite a descrição">
          <input type="text" class="form-control mt-2" placeholder="Digite o preço">
          <input type="text" class="form-control mt-2" placeholder="Digite o estoque">
          <div class="row mt-2 text-center">
            <div class="col-lg-6">
              <button type="button" class="btn btn-primary">Adicionar</button>
            </div>
            <div class="col-lg-6">
              <button routerLink="/" type="button" class="btn btn-secondary">Voltar</button>
            </div>
          </div>
        </form>
       </div>
    </div>
</div>
